src/main/resources/owners.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://example.com/owners" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/owners" targetNamespace="http://example.com/owners">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/owners">

    <xs:element name="MTHSMBRegVerificationReq">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="refNo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MTHMSBRegVerificationRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="owner" type="tns:owner"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllUserRequest">
        <xs:complexType/>
    </xs:element>

     <xs:element name="getAllUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="owner" type="tns:owner"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


       <xs:element name="getUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="refNo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

     <xs:element name="getUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Msg" type="tns:Msg"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

        <xs:element name="addUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="refNo" type="xs:string"/>
                <xs:element name="msg" type="xs:string"/>
                <xs:element name="msgCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

     <xs:element name="addUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serverResponse" type="tns:ServerResponse"/>
                <xs:element name="owner" type="tns:owner"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="refNo" type="xs:string"/>
                <xs:element name="msg" type="xs:string"/>
                <xs:element name="msgCode" type="xs:string"/>
                <xs:element name="SubmissionStatus" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

     <xs:element name="updateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Msg" type="tns:Msg"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

      <xs:complexType name="Msg">
        <xs:sequence>
            <xs:element name="msg" type="xs:string"/>
            <xs:element name="msgCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServerResponse">
        <xs:sequence>
            <xs:element name="serverResponse" type="xs:string"/>
            <xs:element name="serverMessage" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="owner">
        <xs:sequence>
            <xs:element name="refNo" type="xs:string"/>
            <xs:element name="msg" type="xs:string"/>
            <xs:element name="msgCode" type="xs:string"/>
            <xs:element name="submissionStatus" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRequest">
    <wsdl:part element="tns:addUserRequest" name="addUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRequest">
    <wsdl:part element="tns:getUserRequest" name="getUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserRequest">
    <wsdl:part element="tns:updateUserRequest" name="updateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="addUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUserRequest">
    <wsdl:part element="tns:getAllUserRequest" name="getAllUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUserResponse">
    <wsdl:part element="tns:getAllUserResponse" name="getAllUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OwnersPort">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserRequest" name="getUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserRequest" name="addUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUserRequest" name="updateUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <wsdl:input message="tns:getAllUserRequest" name="getAllUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllUserResponse" name="getAllUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OwnersPortSoap11" type="tns:OwnersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="addUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OwnersPortService">
    <wsdl:port binding="tns:OwnersPortSoap11" name="OwnersPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>